# freelancer
server {
    listen 80;
    server_name {{ monofreelancer_url }};

    return 301 https://{{ monofreelancer_url }}$request_uri;
}

server {
    listen 443 ssl http2;
    server_name {{ monofreelancer_url }};

    ssl_certificate /etc/nginx/ssl/{{ monofreelancer_url }}/server.crt;
    ssl_certificate_key /etc/nginx/ssl/{{ monofreelancer_url }}/private.key;

    # Log files for Debug
    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;

    # Laravel web root directory
    root /var/www/freelancer/public;
    index index.php index.html index.htm;

    # Nginx Pass requests to PHP-FPM
    location ~ \.php$ {
        fastcgi_pass freelancer:9000;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;

        # We must reference the document_root of the external server ourselves here.
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
    }

    location / {
        try_files $uri $uri/ /index.php?$query_string;
        gzip_static on;
    }
}

# monopon api
server {
    listen 80;
    server_name api.monopon.net;

    return 301 https://api.monopon.net$request_uri;
}

server {
    listen 443 ssl http2;
    server_name api.monopon.net;

    ssl_certificate /etc/nginx/ssl/api.monopon.net/server.crt;
    ssl_certificate_key /etc/nginx/ssl/api.monopon.net/private.key;

    # Log files for Debug
    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;

    # Laravel web root directory
    root /var/www/api/monopon/public;
    index index.php index.html index.htm;

    # Nginx Pass requests to PHP-FPM
    location ~ \.php$ {
        fastcgi_pass monopon-api:9000;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;

        # We must reference the document_root of the external server ourselves here.
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
    }

    location / {
        try_files $uri $uri/ /index.php?$query_string;
        gzip_static on;
    }
}

# microservice auth
server {
    listen 80;
    server_name auth.monopon.net;

    return 301 https://auth.monopon.net$request_uri;
}

server {
    listen 443 ssl http2;
    server_name auth.monopon.net;

    ssl_certificate /etc/nginx/ssl/auth.monopon.net/server.crt;
    ssl_certificate_key /etc/nginx/ssl/auth.monopon.net/private.key;

    # Log files for Debug
    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;

    # Laravel web root directory
    root /var/www/microservice/auth/public;
    index index.php index.html index.htm;

    # Nginx Pass requests to PHP-FPM
    location ~ \.php$ {
        fastcgi_pass microservice-auth:9000;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;

        # We must reference the document_root of the external server ourselves here.
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
    }

    location / {
        try_files $uri $uri/ /index.php?$query_string;
        gzip_static on;
    }
}

# microservice content
server {
    listen 80;
    server_name content.monopon.net;

    return 301 https://content.monopon.net$request_uri;
}

server {
    listen 443 ssl http2;
    server_name content.monopon.net;

    ssl_certificate /etc/nginx/ssl/content.monopon.net/server.crt;
    ssl_certificate_key /etc/nginx/ssl/content.monopon.net/private.key;

    # Log files for Debug
    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;

    # Laravel web root directory
    root /var/www/microservice/content/public;
    index index.php index.html index.htm;

    # Nginx Pass requests to PHP-FPM
    location ~ \.php$ {
        fastcgi_pass microservice-content:9000;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;

        # We must reference the document_root of the external server ourselves here.
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
    }

    location / {
        try_files $uri $uri/ /index.php?$query_string;
        gzip_static on;
    }
}

# microservice payment
server {
    listen 80;
    server_name payment.monopon.net;

    return 301 https://payment.monopon.net$request_uri;
}

server {
    listen 443 ssl http2;
    server_name payment.monopon.net;

    ssl_certificate /etc/nginx/ssl/payment.monopon.net/server.crt;
    ssl_certificate_key /etc/nginx/ssl/payment.monopon.net/private.key;

    # Log files for Debug
    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;

    # Laravel web root directory
    root /var/www/microservice/payment/public;
    index index.php index.html index.htm;

    # Nginx Pass requests to PHP-FPM
    location ~ \.php$ {
        fastcgi_pass microservice-payment:9000;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;

        # We must reference the document_root of the external server ourselves here.
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
    }

    location / {
        try_files $uri $uri/ /index.php?$query_string;
        gzip_static on;
    }
}